//IMPORTATIONS DE FICHIERS SASS
@import './utils/variables';
@import './settings/fondationts';
@import './utils/mixins';
@import './components/boutton';
@import './components/icon';
@import './layout/header';
@import './layout/section1';
@import './layout/section2';
@import './layout/footer';

//Paramètre du body
body{
    width: 75%;
    margin: 0 auto;
    background: url(../images/bg.jpg) fixed center/cover;
    text-align: center;
    font-family: 'Inter', sans-serif;

    & p{
        font-family: 'Merriweather', serif;
    }
}