*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

h1,
h2,
h3,
.nav-left,
button,
label,
.form-left input[type=text],
input[type=button] {
  text-transform: uppercase;
}

a,
a:visited {
  color: black;
}

section {
  background: whitesmoke;
}

.btn {
  padding: 10px 25px;
  border: 2px solid rgb(22, 22, 22);
  background: transparent;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(22, 22, 22);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%);
  transition: 0.5s ease;
}
.btn:hover {
  color: rgb(239, 234, 234);
  z-index: 0;
}
.btn:hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: -100%;
  background: rgb(22, 22, 22);
  transform: translate(100%);
  z-index: -1;
}

i {
  width: 30px;
  height: 30px;
  font-size: clamp(1rem, 1.3vw, 1.4rem);
}
i:hover {
  font-size: clamp(0.9rem, 1.45vw, 1.5rem);
}

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  height: 60vh;
  color: rgb(239, 234, 234);
}
.main-header h1 {
  font-size: clamp(2.5rem, 5vw, 9rem);
  padding: 90px 0 0px;
  font-weight: bold;
}
.main-header h1::-moz-selection {
  color: rgba(229, 229, 229, 0.637);
  background: rgb(22, 22, 22);
}
.main-header h1::selection {
  color: rgba(229, 229, 229, 0.637);
  background: rgb(22, 22, 22);
}
.main-header p {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  font-weight: 500;
  padding: 50px 0;
  font-style: italic;
}

.icon-header {
  width: 70px;
  height: 70px;
  margin: 0px auto;
  border: 1px solid;
  border-radius: 50px;
  position: relative;
}
.icon-header i {
  height: auto;
  color: rgb(239, 234, 234);
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background: rgba(229, 229, 229, 0.637);
  color: rgb(239, 234, 234);
}

.nav-left {
  width: 50%;
  transition: 0.5s ease;
}
@media screen and (max-width: 900px) {
  .nav-left {
    width: 100%;
  }
}
.nav-left:hover li:not(:hover) {
  background: rgba(229, 229, 229, 0.637);
  color: rgb(239, 234, 234);
}
.nav-left ul {
  height: 100%;
  display: flex;
  font-size: clamp(0.5rem, 1.1vw, 1.2rem);
  font-weight: 600;
  cursor: pointer;
}
.nav-left ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left ul li:first-child {
  background: rgb(239, 234, 234);
  color: rgb(22, 22, 22);
}
.nav-left ul li:hover {
  background: rgb(239, 234, 234);
  color: rgb(22, 22, 22);
}

.nav-right {
  width: 400px;
  transition: 0.3s ease;
}
@media screen and (max-width: 900px) {
  .nav-right {
    display: none;
  }
}
.nav-right ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-right ul i {
  color: rgb(239, 234, 234);
}
.nav-right ul i:hover {
  color: rgb(22, 22, 22);
}

#txt-barre {
  width: 100%;
  padding: 50px 0 0;
  margin-bottom: 50px;
  font-size: clamp(0.8rem, 1.5vw, 2.5rem);
  font-weight: lighter;
  text-transform: capitalize;
  position: relative;
}
#txt-barre::before {
  content: "";
  position: absolute;
  border: 1px solid rgba(229, 229, 229, 0.637);
  width: 30%;
  top: 80%;
  left: 8%;
}
#txt-barre::after {
  content: "";
  position: absolute;
  border: 1px solid rgba(229, 229, 229, 0.637);
  width: 30%;
  top: 80%;
  right: 8%;
}

@media screen and (max-width: 900px) {
  #txt-barre::before,
#txt-barre::after {
    width: 24%;
  }
}
.txt-up {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .txt-up {
    width: 100%;
  }
}
.txt-up h2 {
  padding: 35px 30px;
  font-size: clamp(1.5rem, 3.5vw, 6rem);
  font-weight: bold;
}

blockquote {
  font-style: italic;
  line-height: 45px;
  padding: 20px 70px 50px;
}
blockquote p {
  font-size: clamp(0.8rem, 1.5vw, 1.6rem);
}
@media screen and (max-width: 900px) {
  blockquote {
    padding: 20px auto;
  }
}

.img-center {
  background: url(../../../assets/images/pic01.jpg) no-repeat center/cover;
  width: 90%;
  height: 80vh;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .img-center {
    -o-object-fit: contain;
       object-fit: contain;
    height: 50vh;
  }
}

.section1 .btn {
  margin: 50px;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.container .date {
  font-size: clamp(0.8rem, 1.1vw, 1.5rem);
  font-weight: lighter;
  text-transform: capitalize;
  padding: 10px 0px 20px;
}
@media screen and (max-width: 900px) {
  .container .date {
    text-align: center;
  }
}
.container h3 {
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  font-weight: lighter;
  line-height: 40px;
  letter-spacing: 2px;
}
.container .btn {
  margin: 25px auto;
}

@media screen and (max-width: 900px) {
  .container {
    display: block;
  }
  .container p {
    text-align: left;
    line-height: 40px;
  }
}
.left, .right {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  padding: 40px;
}
.left .img-left, .right .img-left, .right .img-right {
  background: url(../../../assets/images/pic02.jpg) center/cover;
  height: 40vh;
  margin: 30px auto;
}

.right {
  border-right: none;
}
.right .img-right {
  background: url(../../../assets/images/pic03.jpg);
}

@media screen and (max-width: 900px) {
  .left, .right {
    border-right: none;
  }
  .right {
    border: none;
  }
}
footer {
  background: rgb(244, 243, 243);
  margin: 15px auto 50px;
}
footer label, footer .form-left input[type=text], .form-left footer input[type=text] {
  color: rgb(143, 144, 147);
  font-weight: lighter;
  font-size: clamp(0.6rem, 0.9vw, 0.9rem);
}
footer form {
  display: grid;
  grid-template-columns: 50% 50%;
  cursor: auto;
  transition: 0.2s ease;
}

.form-left {
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
@media screen and (max-width: 900px) {
  .form-left {
    border-right: none;
  }
}
.form-left label, .form-left input[type=text] {
  margin-bottom: 20px;
}
.form-left input[type=text] {
  width: 100%;
  height: 40px;
  background: transparent;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  text-transform: lowercase;
}
.form-left input[type=text]:focus {
  border: 1px solid rgba(91, 196, 55, 0.796);
}
.form-left textarea {
  width: 100%;
  height: 200px;
  background: transparent;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 30px;
  resize: none;
  text-transform: capitalize;
}
.form-left textarea:focus {
  border: 1px solid rgba(91, 196, 55, 0.796);
}
.form-left input[type=button] {
  border: 1px solid gray;
  color: rgb(143, 144, 147);
  transition: 0.2s ease;
}
.form-left input[type=button]:hover {
  background: #cfc927;
  background: repeating-linear-gradient(to right, #cfc927 0%, #44cf4e 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-left input[type=button]:active {
  background: #1bac46;
  box-shadow: inset 11px 11px 22px #d2eeda, inset -11px -11px 22px #57bb78;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.form-right .form-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: inset;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .form-right .form-info {
    overflow: hidden;
    border-bottom-style: none;
  }
}
.form-right .form-info label, .form-right .form-info .form-left input[type=text], .form-left .form-right .form-info input[type=text] {
  padding: 30px;
}
.form-right .form-info input {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  padding: 50px;
  background: transparent;
  outline: none;
  border: none;
  font-size: clamp(0.8rem, 1.1vw, 1.3rem);
}
@media screen and (max-width: 900px) {
  .form-right .form-info input {
    width: 100%;
    padding: 0;
  }
}
.form-right .links-social {
  width: 33%;
  margin-right: 300px;
}
@media screen and (max-width: 900px) {
  .form-right .links-social {
    width: 100%;
    margin-right: 50px;
  }
}
.form-right .links-social ul {
  display: flex;
  justify-content: space-between;
}
.form-right .links-social ul li {
  width: 45px;
  height: 45px;
  border: 1px solid;
  border-radius: 50px;
  position: relative;
}
.form-right .links-social ul li a {
  position: absolute;
  top: 10px;
  left: 6.5px;
}
.form-right .links-social ul li a i:hover {
  color: skyblue;
}

body {
  width: 75%;
  margin: 0 auto;
  background: url(../images/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: "Inter", sans-serif;
}
body p {
  font-family: "Merriweather", serif;
}/*# sourceMappingURL=style.css.map */