*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

h1,
h2,
h3,
.nav-left,
button,
label,
input[type=button] {
  text-transform: uppercase;
}

a,
a:visited {
  color: black;
}

section {
  background: rgb(239, 234, 234);
}

.btn {
  padding: 10px 25px;
  border: 2px solid rgb(22, 22, 22);
  background: transparent;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(22, 22, 22);
  position: absolute;
  top: 0;
  left: -100%;
  transform: translate(-50% 50%);
  z-index: -1;
  transition: 0.5s ease;
}
.btn:hover {
  color: rgb(239, 234, 234);
}
.btn:hover::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(22, 22, 22);
  position: absolute;
  left: -100%;
  transform: translate(100%);
  z-index: -1;
}

i {
  width: 30px;
  height: 30px;
  font-size: clamp(1rem, 1.3vw, 1.4rem);
}
i:hover {
  font-size: clamp(0.9rem, 1.45vw, 1.5rem);
}

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  height: 60vh;
  color: rgb(239, 234, 234);
}
.main-header h1 {
  font-size: clamp(3rem, 5vw, 9rem);
  padding: 90px 0 0px;
  font-weight: bold;
}
.main-header h1::-moz-selection {
  color: rgba(229, 229, 229, 0.637);
  background: rgb(22, 22, 22);
}
.main-header h1::selection {
  color: rgba(229, 229, 229, 0.637);
  background: rgb(22, 22, 22);
}
.main-header p {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  font-weight: 500;
  padding: 50px 0;
  font-style: italic;
}

.icon-header {
  width: 70px;
  height: 70px;
  margin: 0px auto;
  border: 1px solid;
  border-radius: 50px;
  position: relative;
}
.icon-header i {
  color: rgb(239, 234, 234);
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background: rgba(229, 229, 229, 0.637);
  color: rgb(239, 234, 234);
}

.nav-left {
  width: 50%;
  transition: 0.5s ease;
}
.nav-left:hover li:not(:hover) {
  background: rgba(229, 229, 229, 0.637);
  color: rgb(239, 234, 234);
}
.nav-left ul {
  height: 100%;
  display: flex;
  font-size: clamp(0.5rem, 1.1vw, 1.2rem);
  font-weight: 600;
  cursor: pointer;
}
.nav-left ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left ul li:first-child {
  background: rgb(239, 234, 234);
  color: rgb(22, 22, 22);
}
.nav-left ul li:hover {
  background: rgb(239, 234, 234);
  color: rgb(22, 22, 22);
}

.nav-right {
  width: 400px;
  transition: 0.3s ease;
}
.nav-right ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-right ul i {
  color: rgb(239, 234, 234);
}
.nav-right ul i:hover {
  color: rgb(22, 22, 22);
}

.section1 {
  height: 120vh;
  border: 1px solid red;
}

.txt-up {
  width: 85%;
  margin: 0 auto;
  border: 1px solid rgb(93, 0, 255);
}
.txt-up #txt-barre {
  width: 100%;
  border: 1px solid rgb(124, 11, 11);
  padding: 50px;
  font-size: clamp(0.8rem, 1.5vw, 2.5rem);
  font-weight: lighter;
  text-transform: capitalize;
  position: relative;
}
.txt-up #txt-barre::before {
  content: "";
  position: absolute;
  border: 1px solid gray;
  width: 31%;
  top: 50%;
  left: 5%;
}
.txt-up #txt-barre::after {
  content: "";
  position: absolute;
  border: 1px solid gray;
  width: 31%;
  top: 50%;
  right: 5%;
}
.txt-up h2 {
  padding: 50px;
  font-size: clamp(1rem, 4vw, 5rem);
}

body {
  width: 75%;
  margin: 0 auto;
  background: url(../images/bg.jpg) fixed center/cover;
  text-align: center;
}/*# sourceMappingURL=style.css.map */